include MANIFEST.in
include requirements.txt
include *.md
include *.py
include *.txt
include license.txt
recursive-include askerp *.css
recursive-include askerp *.csv
recursive-include askerp *.html
recursive-include askerp *.ico
recursive-include askerp *.js
recursive-include askerp *.json
recursive-include askerp *.md
recursive-include askerp *.png
recursive-include askerp *.py
recursive-include askerp *.svg
recursive-include askerp *.txt
